In [103]:
# Setup
from env import get_db_url
import pandas as pd

In [104]:
# 3.
url = get_db_url('employees')

In [105]:
# 5. 
emp_sql_df = pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)
# and errors

In [106]:
# 6.
emp_sql_df

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [107]:
titles_sql_df = pd.read_sql('SELECT * FROM titles', url)
titles_sql_df

Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/pymysql/connections.py", line 480, in rollback
    self._read_ok_packet()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/pymysql/connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/pymysql/connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/pymysql/connections.py", line 732, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/usr/local/anaconda3/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
# 7. Yes, what i expected
print(emp_sql_df.shape)
print(titles_sql_df.shape)

In [ ]:
# 8.
print('Employees')
print(emp_sql_df.describe())
print('-------------------\nTitles DB')
print(titles_sql_df.describe())

In [ ]:
# 9. 
print(titles_sql_df.title.unique().size)

In [ ]:
# 10.
titles_sql_df.sort_values('to_date').head(1)

In [ ]:
# 11. 
titles_sql_df.sort_values('to_date', ascending=False)

In [ ]:
# Exercises Part 2
# 1. Copy the users and roles DataFrames from the examples above.
import numpy as np
# Create the users DataFrame.
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
# 2. What is the result of using a right join on the DataFrames?
users.merge(roles, right_on='id', left_on='id', how='right')

In [ ]:
# 3. What is the result of using an outer join on the DataFrames?
users.merge(roles, right_on='id', left_on='id', how='outer')

In [ ]:
# 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?
users_no_id = users.drop(columns='id')
roles_no_id = roles.drop(columns='id')

users_no_id.merge(roles_no_id, left_on='id', right_on='id', how='outer')
#i get an error 'id' which means there are no keys to merge on

In [ ]:
# 5. Load the mpg dataset from PyDataset.
from pydataset import data
mpg = data('mpg')
mpg

In [ ]:
# 6. Output and read the documentation for the mpg dataset.
data('mpg', show_doc=True)

In [ ]:
# 7. How many rows and columns are in the dataset?
mpg.shape

In [ ]:
# 8. Check out your column names and perform any cleanup you may want on them.
mpg.info()
mpg.rename(columns={'cty': 'city'}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   city          234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [108]:
# 9. Display the summary statistics for the dataset.
mpg.describe()

            displ         year         cyl        city         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [ ]:
# 10. How many different manufacturers are there?
len(mpg.manufacturer.unique())

In [101]:
# 11. How many different models are there?
len(mpg.model.unique())

38

In [ ]:
# 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.